<div class="header__container" *ngIf="viewHeader === true">
	<div class="header__wrapper">
		<span class="header__logo">
			<a href="/" class="header__reset-link">LOGO</a>
		</span>
		<span class="header__searchbar-wrapper">
			<input type="text" class="header__searchbar">
			<button class="reset-btn-style">
				<img src="assets/images/search.png" alt="Search Icon" class="header__searchicon">
			</button>
		</span>
		<span class="header__icons">
			<a href="/wishlist">
				<img src="assets/images/wishlist.png" alt="Wishlist Icon" class="header__wishlist-icon">
			</a>
		</span>
		<span class="header__icons">
			<a href="/user/cart" class="header__reset-link">
				<img src="assets/images/cart.png" alt="Cart Icon" class="header__cart-icon">
			</a>
		</span>
		<span class="header__icons">
			<a href="/user/login" class="header__reset-link">Log In</a>
		</span>
		<span class="header__icons">
			<a href="/user/register" class="header__reset-link">Sign Up</a>
		</span>
	</div>
</div>