<nav class="navbar__wrapper" *ngIf="viewNavbar === true">
  <ul class="navbar__items">
    <li class="navbar__item navbar__dropdown-title">
		<span>Car Parts</span>
		<span class="navbar__dropdown-icon">&gt;</span>
		<ul class="navbar__dropdown-wrapper">
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Car Service Parts
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Car Breaks
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Engine Parts
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Suspension & Steering
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Transmission
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Cooling & Heating
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Electrical & Lighting
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Body & Exhaust
				</span>
			</li>
			<li class="navbar__dropdown-items">
				<span class="navbar__dropdown-labels">
					Lubricants & Fluids
				</span>
			</li>
		</ul>
	</li>
    <li class="navbar__item">Engine Oils</li>
    <li class="navbar__item">Batteries</li>
    <li class="navbar__item">Bulbs</li>
    <li class="navbar__item">Accessories & Car Care</li>
    <li class="navbar__item">Performence Parts</li>
  </ul>

  <!-- <div class="navbar__title">
		<a class="navbar__link" href="/">Site</a>
	</div> -->

  <!-- <div *ngIf="userRole === 'admin'" class="navbar__navlinks">
		<div class="navbar__link-wrapper">
			<a class="navbar__link" href="/admin/products">Products</a>
		</div>
		<div class="navbar__link-wrapper">
			<a class="navbar__link" href="/admin/orders">Orders</a>
		</div>
	</div>

	<div *ngIf="userRole === 'user'" class="navbar__navlinks">
		<div class="navbar__link-wrapper">
			<a class="navbar__link" href="/user/cart">Cart</a>
		</div>
	</div> -->
</nav>
