<footer class="footer__container" *ngIf="viewFooter == true">
	<div class="footer__columns footer__col-1">
		<div class="footer__logo">LOGO</div>
		<div>
			<div>Aro9 Adam Street</div>
			<div>NY 530065, USA</div>
		</div>
		<div>
			<div>
				<strong>Phone: </strong>+8801795929461
			</div>
			<div>
				<strong>Email: </strong>info@example.com
			</div>
		</div>
		<div>
			<span>F</span>
			<span>I</span>
			<span>T</span>
			<span>S</span>
			<span>L</span>
		</div>
	</div>
	<div class="footer__columns footer__col-2">
		<div><strong>Useful Links</strong></div>
		<div>Home</div>
		<div>About Us</div>
		<div>Services</div>
		<div>Terms of Service</div>
		<div>Privacy Policy</div>
	</div>
	<div class="footer__columns footer__col-2">
		<div><strong>Our Services</strong></div>
		<div>Web Design</div>
		<div>Web Development</div>
		<div>Product Management</div>
		<div>Marketing</div>
		<div>Graphic Designing</div>
	</div>
	<div class="footer__columns">
		<div><strong>Our Newsletter</strong></div>
		<div class="footer__subscribe-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
		<div class="footer__subscribe">
			<input type="text" class="footer__subscribe-input">
			<button class="footer__subscribe-btn">Subscribe</button>
		</div>
	</div>
</footer>
