<div class="product-preview__header">
  <img src="assets/images/product-header.jpg" alt="Product Header">
</div>
<div class="product-preview__details">
  <div class="product-preview__col-1">
    <img class="product-preview__img" src="assets/images/product-icon.png" alt="Product Icon">
    <div class="product-preview__btn-group">
      <button class="product-preview__btn">Order Delivery</button>
      <button class="product-preview__btn">Add To Cart</button>
    </div>
  </div>
  <div class="product-preview__col-2">
    <h3>{{ product.name }}</h3>
    <h4 class="product-preview__price">{{ product.price }}</h4>
    <div class="product-preview__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores molestiae placeat ea nobis neque adipisci eaque sit. At, porro neque nostrum tenetur et libero earum eligendi id placeat in.</div>
    <hr>
    <div class="product-preview-cart__btn-cart">
      <button>Qty - 1 +</button>
      <button>Add To Cart</button>
      <button>Add To Wishlist</button>
    </div>
    <hr>
  </div>
</div>

<app-related-products></app-related-products>
